<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="placesMenu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['./new']">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Offers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let place of places">
    <ion-item [routerLink]="['./', place.id]">
      <ion-thumbnail slot="start">
        <ion-img src="{{ place.imageUrl }}"></ion-img>
      </ion-thumbnail>
      <ion-label>{{ place.title }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
