<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
    <h2>Nama: Viriya Lucky</h2>
  </ion-text>
  <ion-text><h3>NIM: 00000019700</h3></ion-text>
  <ion-text><h3>Kelas: B</h3></ion-text>
  <ion-text><p>Project ini saya kerjakan sendiri dengan referensi dari internet dan project mingguan</p></ion-text>
  <ion-text><p>Referensi: https://ionicframework.com/docs/api</p></ion-text>
</ion-content>
